.blogsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    padding: var(--std-section-padding);
    padding-top: var(--std-padding);
}

.firstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: var(--std-section-gap);
}

.homeButton {
    align-self: start;
}

.blogsTitle {
    font-size: var(--display-text-size);
    font-weight: var(--title-weight);
    color: var(--title-color);
    cursor: default;
}

.blogsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
