.createBlogPage {
    display: flex;
    flex-direction: column;
    gap: var(--std-section-gap);
    background: var(--background);
    min-height: 100vh;
}

.createBlogHeader {
    padding: var(--std-padding);
    padding-bottom: none;
    font-size: var(--display-text-size);
    align-self: center;
    cursor: default;
    font-family: var(--display-font-family);
}

.blogEditorContainer {
    padding: var(--std-padding) var(--std-section-padding);
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleLabel {
    font-size: 2rem;
    font-weight: bold;
}

.titleInput {
    padding: var(--std-padding);
    font: inherit;
    border: 2px solid var(--accent);
    border-radius: var(--std-border-radius);
    background: var(--background);
}

.createBlogActions {
    display: flex;
    align-self: end;
    padding: 0 var(--std-section-padding) var(--std-padding)
        var(--std-section-padding);
    gap: var(--std-gap);
}

.homeButtonContainer {
    align-self: start;
    padding: 0 var(--std-section-padding);
}

@media (max-width: 592px) {
    .createBlogPage {
        gap: var(--std-gap);
    }

    .titleContainer {
        width: 100%;
    }

    .blogEditorContainer {
        padding: var(--std-padding);
    }

    .createBlogActions {
        flex-direction: column;
        padding: 0 var(--std-padding);
    }

    .homeButtonContainer {
        padding: 0 var(--std-padding);
    }
}
