.blogs {
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
    width: 100%;
    align-items: center;
    padding: var(--std-padding);
}

.blogsHeader {
    font-size: 2rem;
    cursor: default;
}

.blogNotification {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideIn 200ms forwards;
    background: var(--background-100);
    color: var(--text-black);

    padding: var(--std-padding);
    border-radius: var(--std-border-radius);
}

@keyframes slideIn {
    from {
        transform: translate(-50%, 20vh);
    }

    to {
        transform: translate(-50%, -20px);
    }
}
