.editBlogPage {
    display: flex;
    flex-direction: column;
    gap: var(--std-section-gap);
    background: var(--background);
}

.editBlogHeader {
    padding: var(--std-padding);
    padding-bottom: none;
    font-size: var(--display-text-size);
    align-self: center;
    cursor: default;
    font-family: var(--display-font-family);
}

.blogEditorContainer {
    padding: var(--std-padding) var(--std-section-padding);
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleLabel {
    font-size: 2rem;
    font-weight: bold;
}

.titleInput {
    padding: var(--std-padding);
    font: inherit;
}

.createBlogActions {
    display: flex;
    align-self: end;
    padding: 0 var(--std-section-padding) var(--std-padding)
        var(--std-section-padding);
    gap: var(--std-gap);
}
