.blogHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--std-section-padding);
    width: 100%;
}

.headerTitle {
    font-size: 10rem;
    font-family: var(--display-font-family);
    cursor: default;
}

.navBar {
    align-self: end;
    display: flex;
    align-items: center;
    gap: var(--std-gap);
}

.logOutButton {
    text-wrap: nowrap;
}
