.blogComments {
    composes: blogContent from "../BlogPage.module.css";
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--std-gap);
}

.blogCommentsTitle {
    font-size: 2rem;
    font-weight: bold;
}

.addComment {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--std-gap);
}

.addCommentInput {
    align-self: stretch;
    padding: var(--std-padding);
}

.addCommentLoggedOut {
    align-self: center;
}

.comment {
    display: flex;
    flex-direction: column;
}

.commentAuthor {
    font-size: 0.9rem;
    opacity: 0.8;
}

.commentActionButtons {
    align-self: end;
    display: flex;
    gap: var(--std-gap);
}

.commentNotification {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideIn 200ms forwards;
    background: var(--background-100);
    color: var(--text-black);

    padding: var(--std-padding);
    border-radius: var(--std-border-radius);
}

@keyframes slideIn {
    from {
        transform: translate(-50%, 20vh);
    }

    to {
        transform: translate(-50%, -20px);
    }
}
