.comment {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.commentAuthor {
    font-size: 0.9rem;
    opacity: 0.8;
}

.commentActionButtons {
    align-self: end;
    display: flex;
    gap: var(--std-gap);
}
