.blogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--background);
    padding: var(--std-section-padding);
    gap: var(--std-section-gap);
}

.blogMeta {
    composes: blogPage;
    gap: var(--std-gap);
}

.author {
    font-size: 2rem;
}

.blogTitle {
    font-size: var(--display-text-size);
    font-weight: var(--title-weight);
    color: var(--title-color);
    cursor: default;
}

.blogContent {
    max-width: 70ch;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}

.blogContent > h1 {
    font-size: 2rem;
}
