.blogCard {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 2rem;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 20px;
    height: 100%;
}

.title {
}

.content {
}

.publishedAt {
    opacity: 0.5;
}
