.blogHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navBar {
    display: flex;
    gap: var(--std-gap);
    align-self: flex-end;
    align-items: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    gap: var(--std-section-gap);
}

.brand {
    color: var(--primary);
    font-size: 10rem;
    cursor: default;
    line-height: 1.2;
    align-self: center;
}

.topBlog {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 80px 0;
}

.blogCard {
    align-self: center;
    padding: 80px;
}

.topBlogTitle {
    font-size: 2rem;
}

@media (max-width: 1024px) {
    .brand {
        text-align: center;
    }

    .navBar {
        align-self: center;
    }

    .headerContent {
        flex-direction: column;
        align-items: center;
    }
}
